@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

form {
    font-size: 40px;
    position: fixed; /* or absolute */
    top: 20%;
    left: 17%;
    background-image: url(https://i.ibb.co/YcSMm5h/paper.png)
}
span {
text-align: center;
padding: 100px;
}

textarea {
    font-family: 'Rock Salt', cursive;
    width: 60vh;
    height: 48vh;
    outline: none;
    border: none;
    -webkit-tap-highlight-color: transparent;
    box-shadow: 0 1em 4em rgba(0, 0, 0, 0.07);
    position: relative;
    background-color: transparent;
    text-align: center;
    padding-top: 38px;
}
