.responsive-calendar {
    /* by setting font-size, all the elements will correspond */
    font-size: 9px !important; /* default to 10px */
  }
  
  @media (max-width: 1500px) {
    .responsive-calendar {
      font-size: 8px !important;
    }
  }
  
  @media (max-width: 1200px) {
    .responsive-calendar {
      font-size: 7px !important;
    }
  }
  
  @media (max-width: 768px) {
    .responsive-calendar {
      font-size: 6px !important;
    }
  }
  
  /* Large screens */
  @media (min-width: 2500px) {
    .responsive-calendar {
      font-size: 12px !important;
    }
  }

  .custom-calendar {
    box-shadow: 0 1em 3em rgba(156, 136, 255,0.2);
  }
  
  .custom-today-day {
    color: #e67e22 !important;
    border: 1px solid #e67e22 !important;
  }
  
  .custom-today-day::after {
    visibility: hidden; /* hide small border under the text */
  }

  .Calendar{
    font-family: inherit;
    background: transparent;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    position: fixed; /* or absolute */
  top: 26%;
  left: 60%;
  --cl-color-disabled: #929191;
}