@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

html {
  background: url(https://i.pinimg.com/236x/9b/d0/22/9bd022c7d7d4429cca4e5dcf78a8e927.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
  font-family: 'Michroma', sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}
 
 
